body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #13abe7;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #ded11d;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

form label,
form input,
form button {
    display: block;
    margin-bottom: 1em;
}

button {
    background-color: #d82323;
    color: #a02222;
    padding: 0.5em;
    border: none;
    cursor: pointer;
}

footer {
    background-color: #4fc0bd;
    color: #761212;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

nav {
    background-color: #bc1d1d;
    color: #fff;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    color: #22c548;
}

#searchInput {
    padding: 0.5em;
    background-color: #e91884;
    color: #080808;
}

#searchButton {
    background-color: #e91884;
    color: #fff;
    padding: 0.5em;
    border: none;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    margin: 2em 0;
    text-align: center;
}

.slides {
    display: flex;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
}

.slide {
    min-width: 100%;
    flex: 0 0 auto;
    box-sizing: border-box;
    padding: 1em;
    background-color: #7f37d8;
    border: 1px solid #220b0b;
    margin-right: 1em;
}
